@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?94604853');
  src: url('../font/symbols-nerds.eot?94604853#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?94604853') format('woff'),
       url('../font/symbols-nerds.ttf?94604853') format('truetype'),
       url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
body{
	font-size: 16px;
	line-height: 22px;
	min-width:900px;
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	
    font-weight: 300;
    font-style: normal;
    color:black;
    background:white;

}
.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.btn{
	display: inline-block;
	box-shadow: none;
	outline: none;
	padding: 5px 40px;
	color:white;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	font-size: 12px;
	border: none;
  	outline: none;
  	cursor: pointer;


}

.red{
	background: #fb565a;
}

.green{
	background: #00ca74;
}
.yellow{
	background: #efc84a;
}

.red:hover{
	background: #d6494d;
}

.green:hover{
	background: #01a25e;
}
.yellow:hover{
	background: #d6ae2c;
}
.red:active{
	background: #b63538;
	box-shadow: 0 3px #9b2d30 inset;
}
.green:active{
	background: #009053;
	box-shadow: 0 3px #007b47 inset;
}
.yellow:active{
	background: #c09b24;
	box-shadow: 0 3px #a3841f inset;
}
.grey{
	background: #f1f1f1;
	color: black;

}
.grey:hover{
	background: #e5e5e5;
	color: black;
}
.grey:active{
	background: #d5d5d5;
	color: black;
	/*padding-top: 3px;
	border-top: 2px solid #b5b5b5;*/
	box-shadow: 0 3px #b5b5b5 inset;

}

/*Разметка хедера*/
header{
background-color: #eee;
margin-bottom: 60px;
}
.header-logo{
	float:left;
	width:140px;
	margin-top: 28px;
	margin-right: 10px;
}
.header-menu{
	float:left;
	width: 590px;
	margin-right: 30px;
}

.header-menu ul{
	margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
  text-align: right;
}
.header-menu li{
	display: inline-block;
	font-size: 14px;
	font-height:30px;
	font-weight: medium;
    vertical-align: top;
}
.header-menu a{
 font-style:medium;
  font-weight:bold;
  font-size: 14px;
display: block;
text-decoration: none;
color: #000000;
padding-top: 60px;
padding-left: 40px;
}
.header-menu a:hover{
	color: #fb565a;
}
.header-menu a:active{
	color:#bdbdbd;
}
.basket{
	float:right;
	max-width: 100px;
	padding-top: 60px;
	

}
.basket a{
	text-decoration: none;
	 font-style:medium;
  font-weight:bold;
  color: #000000;
  font-size: 14px;
}
.basket a:hover{
	color: #fb565a;

}
.basket a:active{
	color:#bdbdbd;
}
.header-menu .active a{
 	position: relative;
}
.header-menu .active a:after{
	content: "";
	position: absolute;
	bottom: -5px;
    left: 40px;
    right: 0px;
	height: 2px;
	background: #fb565a;
}
.basket .active a{
	position: relative;
}
.basket .active a:after{
	content: "";
	position: absolute;
	bottom: -5px;
    left: 0px;
    right: 0px;
	height: 2px;
	background: #fb565a;
}
.big-title{
	min-height: 240px;
	text-align: center;
}
.big-title h2{
	/*padding-top: 30px;*/
	margin-top: 60px;
	margin-bottom: 80px;
	font-style:medium;
    font-weight:100;
    line-height: 1.375;
  	font-size: 40px;
  	font-family: "Roboto", sans-serif;
  	text-transform: uppercase;
}

/*конец разметки хедера*/
/*Место для слайдера*/
.slider{
 position: relative;
 width: 880px;
 height: 310px;
 margin: 0 auto;
 margin-top: 38px;
/* border: 1px dotted black;*/
}
.slider-controls{
	position: absolute;
	bottom: 95px;
	left:50%;
	width:200px;
	height:10px;
	margin-left: -100px;
	text-align: center;
	z-index: 1000;
	/*border: 1px dotted green;*/
}

.slider-controls i{
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	background: white;
	border: 3px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls .active{
	background: #c1c1c1;
}
 .slide{
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	overflow: hidden;
 /*background-color: rgba(255,255,0,0.1);*/
 }
 .slide-text{
	width: 480px;
	padding: 30px 0;
	color: #283136;
 }
 .slide-title{
 	font-size:36px;
 	line-height: 1;
 	font-weight: bold;
 	color: black;
 }
.slide .btn{
	margin-top: 25px;
	font-size: 12px;
}
.slide:nth-child(1){
    background-image:url('../img/slider1.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image:url('../img/slider2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('../img/slider3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide{
    display:none;
}
.slide-show{
	display: block;
}
/*разметка фич*/
.features-row{
margin-bottom: 80px; 
}
.features-item{
	float:left;
	width: 240px;

	margin-right: 80px;
	text-align: left;
}
.features-item:last-child{
	margin-right: 0;
}
/*конец разметки фич*/
/*разметка текста*/
.content-column {
	margin-top: 60px;
	border-top: 2px solid #eeeeee;
	margin-bottom: 20px;
	padding-top: 60px;
}
.inner-content-column-left{
	float: left;
	width: 640px;
}
.inner-content-column-right{
	float: left;
	width: 240px
}
.content-column h2{
	line-height: 1.375;
	font-weight: 500;
	font-style:medium;
	font-size: 36px;

}
.content-column h3{
	line-height: 1.375;
	font-size: 16px;
 	font-weight: 400;
	font-style:medium;
	text-transform: uppercase;
}
.content-column p{
	margin-bottom: 40px;
}
.content-column ul{
	 padding-left:20px;
 	font-weight:300;
 	font-size:16px;
 	color:#283136;
 	list-style:none;
 	padding:0;
}
.content-column ul li{
	padding-bottom: 24px;
	padding-left: 35px;
	position: relative;
}
.content-column ul li:before{
	content: "";
	/*position: absolute;
	left: -10px;
	width: 25px;
	height: 10px;
	color: white;*/
	position:absolute;
    bottom:33px;
    left:0px;
    width:25px;
    height:2px;
	border-bottom: 2px solid red;

}
.content-logo{
	padding-top: 20px;
	margin-bottom: 60px;
	text-align: center;
}
.content-logo p{
	display: inline-block;
	vertical-align: top;
	/*margin: 0 auto;*/
	padding: 0 10px;
	position: relative;
	z-index: 2;
	background: white;
	font-style: medium;
	font-weight: 500;
}
.content-logo:after{
	content: "";
	position: relative;
	top: -52px;

	display: block;
	border-bottom: 2px solid #eeeeee;
    z-index: 1;

}
/*конец разметки текста*/
/*логотипы*/
.logo-row{
	padding-top:60px;
    padding-bottom:30px;
    margin-top:75px;
    margin-bottom:80px;
    border-top:2px solid #eeeeee;
    border-bottom:2px solid #eeeeee;
}
.logo-row .link{
  float:left;
  width:200px;
  margin-right:135px;
  opacity: .2;
}
.logo-row .link:hover,
.logo-row .link:active{
	opacity: 1;
}

.link:last-child{
	margin-right: 0;
	 margin-top:-20px;
}
/*футер*/
footer{
	
}
.map{
	width: 100%;
	height: 416px;
	background: url(../img/map.jpg) 50% 50% no-repeat;
	position: relative;
} 
#yandex-map{
	position: relative;
	z-index: 0;
}
.map-contact{	
	background: white;
	width:200px;
	height: 195px; 
	padding: 25px 20px;
	position: absolute;
	top:85px;
	text-align: center;
	z-index: 100;

}
.map-contact h3{
	margin-top: 8px; 
	text-align: left;
	text-transform: uppercase;
}
.map-contact span{
	font-weight: 300;
	font-size:inherit;

}
.map-contact p{
text-align: left;
}
.map-contact .btn{
	padding: 8px 49px
}
/*.map-contact{
	height:416px;
	width:100%;
	padding:88px 0;
	background:url(../img/map.jpg) 50% 50% no-repeat #eee;
	box-sizing:border-box;
	position:relative}*/

.footer-soc-and-friend{
	width: 925px;
	margin: 75px auto;
}
.footer-social{
	float: left;
	width:300px;
	text-align: center;
	margin-right: 20px;
}
.social-btn{
	/*position: relative;*/
	display: inline-block;
	vertical-align: left;
    font-size: 0;
   margin-right: 25px;
    /*margin-bottom: 70px;*/
    text-decoration: none; 
	width:62px;
	height: 62px;
	border-radius: 50%;
	background: #eee url(../img/sprite2.png) no-repeat center;
}
.social-btn:last-child{
	margin-right: 0;
}
.social-btn-vk{ 
    background-position: -3px -430px;
}
.social-btn-fb{
	 background-position: 5px -186px;
}
.social-btn-inst{
	background-position: 1px -375px;
	
}
.social-btn:hover{
background-color: #fb565a;
}

.social-btn:active{
	background-color: #d6494d;
}

.footer-frendship{
	position: relative;
	float: right;
	margin-top: -30px; 
	/*margin-left: 20px;
	
	/*width: 600px;
	/*padding-left: 80px;*/
	text-align: left;
	
}
/*.footer-frendship h2,
.footer-frendship p{
	position: absolute;
	top: 0;
	left: 10px;
}*/
.footer-frendship h2{
 	/*line-height: 1.375;*/
	font-weight: 500;
	font-style:medium;
	font-size: 36px;
	
}
.footer-frendship p{
	font-weight:300;
 	font-size:16px;
 	color:#283136;
 	/*padding:0;*/
}
.modal-form-write{
	display: none;
	position: fixed;
	top: 0;
	left: 50%;
	width:465px;
	background: white;
	padding: 55px 80px;
	margin-top: 50px;
	margin-left: -312px;
	font-size: 16px;
	font-weight: 500;
	font-style:medium;
	color: black;
	z-index:1000;

}
@keyframes bounce{
	0% { transform: translateY(-2000px);}
	70% { transform: translateY(40px);}
	90% { transform: translateY(-20px);}
	100% { transform: translateY(0);}
}
.modal-form-write-show{
	display: block;
	/*-webkit-animation: 
	-o-animation: */
	-webkit-animation: bounce 0.6s;
}
/*.modal-form-write p{
	display: inline-block;
	float: left;

}*/
/*.modal-form-write input[name="email"],
.modal-form-write input[name="name"]{
	width: 220px;
}*/
.form-name{
	float:left;
	width:223px;
	padding: 0;
	margin: 0;
}
.form-mail{
	float:right;
	width:223px;
	padding: 0;
	margin: 0;
	
}
/*.modal-form-write input[name="messenge"]{
	width: 460px;
	height: 110px;
}*/

/*.modal-form-write button{
	padding: 10px 40px;
	text-align: center;
	margin-right: 20px;
	
}
*/
.modal-form-write input[type="text"]{
	display: block;
	width: 188px;
	padding: 8px 14px; 
	margin:0;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	font-style:medium;
	color: black;
	text-transform: uppercase;
	color: #000;
	outline: none;
	border: 2px solid #d7dcde;
	border-radius: 3px;
	margin-bottom: 20px;
	margin-top: 5px;
}
.modal-form-write input::-webkit-input-placeholder{
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	font-style:medium;
	color: black;

}
.modal-form-write input:-moz-placeholder{
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	font-style:medium;
	color: black;

}
.modal-form-write textarea{
	resize: none;
	padding: 8px 14px; 
	width: 428px;
	min-height: 130px;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	font-style:medium;
	color: black;
	text-transform: uppercase;
	color: #000;
	outline: none;
	border: 2px solid #d7dcde;
	border-radius: 3px;
	margin-bottom: 45px;
	margin-top: 5px;  
}
.modal-form-write textarea::-webkit-input-placeholder{
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	font-style:medium;
	color: black;

}
.modal-form-write textarea:-moz-placeholder{
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	font-style:medium;
	color: black;

}
.modal-form-write input:hover,
.modal-form-write textarea:hover{
	border: 2px solid #a2a9ac;
}
.modal-form-write input:focus,
.modal-form-write textarea:focus{
	border: 2px solid #56bffb;
}
.modal-form-write button{
	padding: 10px 0px;
	float: left;
	width:220px;
}
.modal-form-write a{
	padding: 5px 0px;
	width: 220px;
	float: right;
}
.settings{
	float: left;
	width: 240px;


}
.range-filter{
	width: 240px;
}

.range-controls{
	position: relative;
	height: 80px;
	margin-bottom: 15px;
	padding: 0 30px;
	background: #f1f1f1;
	border-radius: 5px;
	overflow: hidden;
}
.range-controls .scale{
	margin-top: 39px;
	height: 2px;
	background: #d7dcde;
}
.range-controls .bar{
	height: 2px;
	background: #00ca74;
}
.range-controls .toggle{
	position: absolute;
	top: 30px;
	left: 30px;
	width: 4px;
	height: 4px;
	border:8px solid white;
	background: #ababab;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0 2px  1px 0 #cfcfcf;
}
.range-controls .max-toggle{
	left:145px;
}
.price-controls input{
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;
	border: none;
	background: #f1f1f1;
	font-style: normal;
	font-size: 16px;
	font-family: 'Roboto' sans-serif;
	font-weight: 300;
	text-align: center;
	color: #283136;
	border-radius: 5px;
}
.price-controls .min-price{
 margin-right: 13px;
}
.price-controls{
	white-space: nowrap;
}
input[type="radio"]{
	display: none;
	
}
.settings h4{
	text-transform: uppercase;
}
.settings label{
	margin-bottom: 15px;
}
input[type="radio"]+label{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;

}
input[type="radio"]+label::before{
	content: "\25cb";
	font-family: "symbols-nerds";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 28px;
	color: #c1c1c1;
}
input[type="radio"]:checked+label::before{
	content: '\25cf';
	font-family: "symbols-nerds";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 28px;
	color: #c1c1c1;
}
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"]+label{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 20px;
	cursor: pointer;

}
input[type="checkbox"]+label::before{
	content: '\2610';
	font-family: "symbols-nerds";
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-size: 28px;
	color: #c1c1c1;
}
input[type="checkbox"]:checked+label::before{
	content: '\2611';
	font-family: "symbols-nerds";
	display: inline-block;
	vertical-align: middle;
	margin-right: 6px;
	font-size: 28px;
	color: #c1c1c1;
}
.portfolio{
	float: right;
	width: 560px;
	padding: 0;
}
.portfolio-setting{
	width: 560px;
	text-align: left;
	margin-bottom: 22px;
	margin-top: 22px;
}
.portfolio-setting a,
.portfolio-setting .title
{
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;

}
.portfolio-setting a{
	font-family: "Roboto", sans-serif;
	color:  #c1c1c1;
	text-decoration: none;
	border-bottom: 1px dotted #00ca74;
	margin-right: 45px;
}
.portfolio-setting a:hover{
	color:black;
}
.portfolio-setting a:active,
.portfolio-setting a[class="active"]
{
	color: black;
	border: none;
}

.portfolio-setting .title{
	font-style: bold;
	font-weight: 600;
	margin-right: 40px;
	 
}
.portfolio-setting .controls{
	display: inline-block;
	float:right;
	position: relative;
}
.portfolio-setting .button-up{
	display: inline-block;
	position: relative;
	bottom: 5px;
	width: 0;
	height: 0;
	border-bottom: 11px solid #c1c1c1;
	border-left: 6px solid white;
	border-right: 6px solid white;
	border-top: 0 solid white;
	cursor: pointer;
}
.portfolio-setting .button-down{
	display: inline-block;
	position: relative;
	top:-5px;
	width: 0;
	height: 0;
	border-bottom: 0 solid white;
	border-left: 6px solid white;
	border-right: 6px solid white;
	border-top: 11px solid #c1c1c1;
	cursor: pointer;
}
.portfolio-setting .controls .active{
	border-bottom-color: #00ca74;
	border-top-color: #00ca74;  
}
.portfolio-setting .button-up:active{
	border-bottom-color: black;
}
.portfolio-setting .button-down:active{
	border-top-color: black;
}

.portfolio-nav{
	float: left;

}
.portfolio-nav nav{
	font-size: 0;
	margin: 0;
  	padding: 0;
  	list-style: none;
  	text-align: center;
}
.portfolio-nav li{
	display: inline-block;
	font-size: 14px;
	font-weight: medium;
    vertical-align: bottom;
}

.portfolio-nav a{
	display: block;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: black;
	/*width: 11px;
	height: 11px;*/
	padding: 14px 17px;
	background: #f1f1f1;
	border: 2px solid #f1f1f1;
	text-align: center;
	border-radius: 3px;
}
.portfolio-nav a:hover{
	background: #e5e5e5;
	border-color: #e5e5e5;
}
.portfolio-nav li:not(.active) a:active{
	background: #d5d5d5;
	border-color: #d5d5d5;
	padding-top: 14px;
	border-top: 3px solid #b5b5b5;
}
.portfolio-nav .active a{
	background: white;
}
.portfolio-items{
	
}
.portfolio-item{
	display: inline-block;
	vertical-align: top;
	width: 240px;
	margin: 0;
	margin-left: 75px;
	margin-bottom: 80px;
}
.row{
	margin-left: -75px;
}
/*.portfolio-item:nth-child(2n){
	margin-right: 0px;
}*/
.portfolio-item-nav{
	width: 240px;
	height: 30px;
	margin: 0;
	padding: 0;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
	/*position: relative;*/
}
.portfolio-item-nav .circle{
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 10px;
	height: 10px;
	background: white;
	border-radius: 50%;
	margin-left: 8px;
	margin-top: 10px;

}
.portfolio-item-nav .circle:first-child{
	margin-left: 13px;
}
.portfolio-item-photo{
position: relative;
}
.portfolio-item-information{
	display: none;
	position: absolute;
	width: 200px;
	min-height: 200px;
	background: white;
	text-align: center;
	top: 20px;
	left:20px;
	/*left: 50%;
	margin-left: -100px;*/
	z-index: 10;
}
.portfolio-item-information h3{
	font-size: 18px;
	margin-top: 35px;
	margin-bottom: 20px;
}
.portfolio-item-information p{
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}
.portfolio-item-information .btn{
	padding: 6px 30px;
	margin: 0;

}
.portfolio-item:hover .portfolio-item-information{
	display: block;
}
.portfolio-item:hover .portfolio-item-nav{
	background: #797979;
}
