body{
	font-size: 16px;
	line-height: 22px;
	min-width:900px;
	margin: 0 auto;
	font-family: "Roboto", sans-serif;
	
    font-weight: 300;
    font-style: normal;
    color:black;
    background:white;

}
.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*Разметка хедера*/
header{
background-color: #eee;
margin-bottom: 60px;
}
.header-logo{
	float:left;
	width:140px;
	margin-top: 28px;
	margin-right: 10px;
}
.header-menu{
	float:left;
	width: 620px;
}

.header-menu ul{
	margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
  text-align: right;
}
.header-menu li{
	display: inline-block;
	font-size: 14px;
	font-height:30px;
	font-weight: medium;
    vertical-align: top;
}
.header-menu a{
 font-style:medium;
  font-weight:bold;
  font-size: 14px;
display: block;
text-decoration: none;
color: #000000;
padding-top: 60px;
padding-left: 40px;
}
.basket{
	float:right;
	max-width: 100px;
	padding-top: 60px;
	

}
.basket a{
	text-decoration: none;
	 font-style:medium;
  font-weight:bold;
  color: #000000;
  font-size: 14px;
}
/*конец разметки хедера*/
/*Место для слайдера*/
.slider{
 position: relative;
 width: 880px;
 height: 310px;
 margin: 0 auto;
 margin-top: 38px;
/* border: 1px dotted black;*/
}
.slider-controls{
	position: absolute;
	bottom: 95px;
	left:50%;
	width:200px;
	height:10px;
	margin-left: -100px;
	text-align: center;
	z-index: 1000;
	/*border: 1px dotted green;*/
}

.slider-controls i{
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	background: white;
	border: 3px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls .active{
	background: #c1c1c1;
}
 .slide{
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	overflow: hidden;
 /*background-color: rgba(255,255,0,0.1);*/
 }
 .slide-text{
	width: 380px;
	padding: 30px 0;
	color: #283136;
 }
 .slide-title{
 	font-size:36px;
 	line-height: 1;
 	font-weight: bold;
 	color: black;
 }
.slide .btn{
	display: block;
	width: 240px;
	padding: 10px 0;
	margin-top: 25px;
	font-size: 12px;
	color:white;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	background: #fb565a;
	border-radius: 3px;
}
.slide:nth-child(1){
    background-image:url('../img/slider1.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image:url('../img/slider2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('../img/slider3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide{
    display:none;
}
.slide:nth-child(1){
	display: block;
}
/*разметка фич*/
.features-row{

}
.features-item{
	float:left;
	width: 240px;

	margin-right: 80px;
	text-align: left;
}
.features-item:last-child{
	margin-right: 0;
}
/*конец разметки фич*/
/*разметка текста*/
.inner-content-column-left{
	float: left;
	width: 640px;
}
.inner-content-column-right{
	float: left;
	width: 240px
}
/*конец разметки текста*/
/*логотипы*/
.logo-row{
	padding-top:60px;
    padding-bottom:30px;
    margin-top:75px;
    margin-bottom:80px;
    border-top:2px solid #eeeeee;
    border-bottom:2px solid #eeeeee;
}
.logo-row .link{
  float:left;
  width:200px;
  margin-right:135px;
}
.link:last-child{
	margin-right: 0;
	 margin-top:-20px;
}
/*футер*/
footer{

}
.footer-social{
	float: left;
	width:300px;
}
.footer-frendship{
	float: left;
	/*margin-left: 20px;*/
	width: 580px;
	margin-top:-10px; 
}